---
import PageLayout from "../layouts/Page.astro";
import SubHeading from "../components/Plugs/SubHeading.jsx";
import styles from "../components/BlogPost.module.css";
import Heading from "../components/Plugs/Heading.jsx";
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

const myFeaturedPost = posts.filter((post) => post.frontmatter.featured);
---

<PageLayout>
  <Heading
    client:visible
    title="Holis! 👋"
    subtitle="En este espacio encontrará interesantes textos, historias y recursos que se relacionan de alguna manera con el mundo del diseño, la programación y el software libre."
  />
  <SubHeading client:visible title="Traducciones" />
  {
    myFeaturedPost.map((post) => (
      <div class={styles.Container}>
        <a class={styles.Title} href={post.url}>
          <span>{post.frontmatter.title}</span>
        </a>
        <p class={styles.Description}>{post.frontmatter.description}</p>
      </div>
    ))
  }
</PageLayout>
